// app color variables
$main-color: rgb(169, 155, 98);
$color-white: #f9f9f9;
$color-black: #1f1f1f;
$color-black-light: #222324;
$color-black-opacity: rgba(34, 35, 36, .2);
$color-green: #00fa9c;
$color-red: #f40404;

$transition: .3s;